# Dependencies
node_modules

# Build output
dist

# Conversation files written by the agent in dev (FILES_DIR default)
data

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
